<nav class="nav nav-underline" aria-label="Secondary navigation">
    <a class="nav-link active" aria-current="page" routerLink="/myspace/datasource">Data Source</a>
    <a class="nav-link " routerLink="/admin/sourceproperties">Source Properties</a>
    <a class="nav-link" routerLink="/admin/property">Property</a>
    <a class="nav-link" routerLink="/logrelationnal">Log Relationnal</a>
    <a class="nav-link" routerLink="/admin/migration">Migration</a>
    <a class="nav-link" routerLink="/admin/logelastic">Log Elasticsearch</a>
    <a class="nav-link" routerLink="/dashbords">Dashbords</a>
</nav>
